<% provide(:title, "Recovery")%>
<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<%= form_for(:recovery, url: recoveries_path) do |f| %>
  <%#= render 'shared/error_messages', object: f.object %>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <p>
    <%= f.submit t('create_account'), class: "btn btn-large btn-primary" %>
  </p>
<% end %>