<% provide(:title, "Recover password")%>
<% if has_key? %>
  <%= form_for @user, url: user_update_password_path(@user.id, :key => params[:key]) do |f| %>
    <%#= render 'shared/error_messages', object: f.object %>
    <div>
      <%= f.label  :password %>
      <%= f.password_field :password %>
    </div>
    <div>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
    <p>
      <%= f.submit t('create_account') %>
    </p>
  <% end %>
<% else %>
 <%= "enter email" %>
<% end %>
