<div>
  <div>
    <%= link_to "Home", :root %>
    <% if !signed_in? %>
      <%= link_to "Sign In", signin_path %>
      <%= link_to "Registe", user_new_path %>
      <%= link_to "Reset password", reset_new_path %>
    <% else %>
      <%= link_to "Update Profile", user_edit_path %>
      <%= link_to "Add song", song_new_path %>
      <%= link_to "Songs", songs_index_path %>
      <%= link_to "SIgn Out", signout_path, method: 'delete',style: "float:right;" %>
    <% end %>
  </div>
</div>
